<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <provider
            android:name="com.cuju.camera.AssetFileProvider"
            android:authorities="${applicationId}.library.file.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider">
            <grant-uri-permission android:pathPattern="/photo/.*" />
            <grant-uri-permission android:pathPattern="/video/.*" />
        </provider>
    </application>
</manifest>
